<html>
	<head>
		<title><%= @title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bookStyle.css" >
	</head>
	<body>
		<h1><%= @title %></h1>
		<div id="dropList">
			<form name="sortForm" method="POST">
				<select name="sortBook">
					<option value = "id">Rank</option>
					<option value = "title">Title</option>
					<option value = "author">Author</option>
					<option value = "language">Language</option>
					<option value = "published">Year</option>
				</select>
				<input type="submit" value="Sort List">
			</form>
		</div>
		<section>
			<%= yield %>
		</section>
	<footer>
		Copyright &copy; 2014 Maria Deslis | csci446 | Rader | Spring 2014 | Unit 9 | Sintra
	</body>
</html>