<% unless cart.line_items.empty? %>
<div class="cart_title">Your Cart</div>
<table>
	<%= render(cart.line_items) %>
</table>
<br />
<%= button_to 'Checkout', new_order_path, :method => :get, :confirm => 'Checking Out. Positive?' %>
<br />
<%= button_to 'Clear Patients', cart, :method => :delete, :confirm => 'Are you sure?' %>
<% end %>
