<!DOCTYPE html>
<html>
<head>
  <title>Arkham</title>
  <%= stylesheet_link_tag :arkham  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
