html {
	background-color: black;
	margin: 0;
	padding: 0;
}

body {
	width: 800px;
	margin: auto;
}

#banner {
	background-color: #FF7373;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none none double none;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #1A1A1A;
	text-align: center;
}

#banner img{
	width: 100px;
	height: 150px;
}

#columns {
	background: #AD0006;
}

#main {
	background-color: #E0E0E0;
	margin-left: 17em;
	padding-top: 4ex;
	padding-left: 2em;
	background: white;
	border-style: none none none double;
}

#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 16em;
	background: #AD0006;
}

#side ul {
	margin: auto .8em auto auto;
	padding: 0;
	background-color: #FF7373;
	border-style: double none double none;
}

#side li{
	border-bottom: 1px solid #1a1a1a;
	list-style-type: none;
	margin: auto;
	padding: .1em;
}

#navTop {
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
}

a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

a:link, a:visited {
	color: black;
}

a:focus, a:hover, a:active {
	color:white;
	background-color: #FF7373;
}


.list_image {
	width: 150px;
	height: 200px;
	border-radius: .5em;
}

h1 {
	text-align: center;
}

h3 {
}

footer {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

