<h2>Your Villainous Pet</h2>

<ul>
	<% @cart.line_items.each do |item| %>
		<li><%= item.pet.name %></li>
	<% end %>
</ul>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

